{% extends "base.html" %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo2</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather&display=swap">
</head>
</head>


<body>
    <h1 class="with-image">
        <img src="C:\Users\emper\OneDrive\Área de Trabalho\Programação\HTML\Prototipo1/biocomp-removebg-preview.png">
    </h1>
    <div class="separator"></div>

    <div class="navbar">
        <a href="index.html">Início</a>
        <a href="software.html">Softwares</a>
        <a href="quemsomos.html">Quem somos</a>
        <a href="galeria.html">Galeria</a>
        <a href="Pesquisa.html">pesquisa</a>
        <a href="contato.html">Contato</a>
        <a href="">Idioma</a>
    </div>


    <div class="container">
        <h1>LQFPP</h1>
        <img src="interacao.webp">

        <p>
            This page contains the structural bioinformatics software developed by
            the Laboratório de Quimica e Função de Peptídeos e Proteínas (LQFPP) at Universidade Estadual do Norte Fluminense (UENF).
            These software are used to determine the structure of proteins and analyze the interaction with small ligands.
             All software present here is open to the public and can be
             used free of charge by the academic community
        </p>
        <p>
            This page contains the structural bioinformatics software developed by
            the Laboratório de Quimica e Função de Peptídeos e Proteínas (LQFPP) at Universidade Estadual do Norte Fluminense (UENF).
            These software are used to determine the structure of proteins and analyze the interaction with small ligands.
             All software present here is open to the public and can be
             used free of charge by the academic community
        </p>

      </div>

    <div class="fm">
        <h1>Talk To Us</h1>
        <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
        <div>
            <form action="submit_form.php" method="POST">
                <address>
                    Keep in touch<br>
                    110-220 Quisque diam odio, maximus ac consectetur eu, 10260 auctor non lorem
                </address>
                <input type="text" id="full-name" name="full-name" placeholder="Full Name" required>
                <input type="email" id="email" name="email" placeholder="E-Mail Address" required>
                <textarea id="message" name="message" placeholder="Your Message" required></textarea>
                <button type="submit">SEND MESSAGE</button>
            </form>
        </div>
    </div>
    

<div class="separator"></div>


<div class="fim">
    <ul>
        <li>Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF)</li>
        <li>Centro de Biociência e Biotecnologia (CBB)</li>
        <li>Laboratório de Química e Função de Proteínas e Peptídeos (LQFPP)</li>
        <li>Av. Alberto Lamego, 2000 - P5 - Parque Califórnia</li>
        <li>Campos dos Goytacazes, Rio de Janeiro - Brasil</li>
    </ul>
  </div>

</body>
</html>