{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo2</title>
    <link rel="stylesheet" href="{% static 'joao.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather&display=swap">
</head>
<body>
        
        
    </h1>
    <div class="navbar">
      <a href="{% url 'index' %}">Início</a>
      <a href="{% url 'software' %}">Softwares</a>
      <a href="{% url 'quemsomos' %}">Quem somos</a>
      <a href="{% url 'contato' %}">Contato</a>
      <li style="float:right"><a class="active""> <img src="{% static 'biocomp-removebg-preview.png' %}" style="width: 80px; height: auto;"></a></li>
  </div>

  <div class="separator"></div>

  <div class="fim">
      <ul>
          <li>Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF)</li>
          <li>Centro de Biociência e Biotecnologia (CBB)</li>
          <li>Laboratório de Química e Função de Proteínas e Peptídeos (LQFPP)</li>
          <li>Av. Alberto Lamego, 2000 - P5 - Parque Califórnia</li>
          <li>Campos dos Goytacazes, Rio de Janeiro - Brasil</li>
          <li><img src="{% static 'uenf.png' %}" style="width: 100px; height: auto;"></li>
      </ul>
  </div>

</body>
</html>