{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo1</title>
    <link rel="stylesheet" href="{% static 'quemsomos.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather&display=swap">
</head>
<body>
    <h1 class="with-image">
        <img src="{% static 'biocomp-removebg-preview.png' %}">
    </h1>
    <div class="separator"></div>

    <div class="navbar">
        <a href="{% url 'index' %}">Início</a>
        <a href="{% url 'software' %}">Softwares</a>
        <a href="{% url 'quemsomos' %}">Quem somos</a>
        <a href="{% url 'galeria' %}">Galeria</a>
        <a href="{% url 'pesquisa' %}">Pesquisa</a>
        <a href="{% url 'contato' %}">Contato</a>
        <a href="">Idioma</a>
    </div>

    <main>
        <div class="research-table">
            <table>
                <thead>
                    <tr>
                        <th>Nome da Pesquisa</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pesquisa do Automodel</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Pesquisa HTML</td>
                        <td>.</td>
                    </tr>
                    <tr>
                        <td>Pesquisa Karine</td>
                        <td></td>
                    </tr>
                    <!-- Adicione mais pesquisas conforme necessário -->
                </tbody>
            </table>
        </div>
    </main>

    <div class="separator"></div>

    <div class="fim">
        <ul>
            <li>Universidade Estadual do Norte Fluminense Darcy Ribeiro (UENF)</li>
            <li>Centro de Biociência e Biotecnologia (CBB)</li>
            <li>Laboratório de Química e Função de Proteínas e Peptídeos (LQFPP)</li>
            <li>Av. Alberto Lamego, 2000 - P5 - Parque Califórnia</li>
            <li>Campos dos Goytacazes, Rio de Janeiro - Brasil</li>
        </ul>
    </div>
</body>
</html>
