body {
    font-family: 'Merriweather', serif;
    background-color: rgba(255, 255, 255, 0.5);
}


h1 {
    text-align: center;
    background-color:#edf2f9;
    font-size: 36px;
    margin: 0;
    padding: 0;
}


.separator {
    border-bottom: 2px solid #333; /* Barra horizontal com 2px de espessura e cor #333 */
}



/* Estilos para a barra de navegação horizontal */
.navbar {
    background-color: #3CB371; 
    overflow: hidden;
}

/* Estilos para os links na barra de navegação */
.navbar a {
    float: left;
    display: block;
    color: black; /* Cor do texto */
    text-align: center;
    padding: 14px 10px; /* Ajuste o espaçamento vertical e horizontal aqui */
    text-decoration: none;
    margin: 0; /* Remova as margens padrão */
}

/* Estilos para os links quando hover */
.navbar a:hover {
    background-color:SeaGreen; /* Cor de fundo mais forte quando hover */
}



body {
    background-color: #f0f0f0;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.member {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.member h2 {
    margin-top: 0;
    font-size: 18px;
}

.member p {
    margin-bottom: 10px;
    font-size: 14px;
}

.photo {
    background-color: #f0f0f0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #999;
}

/* Estilos para o conteúdo principal */
.content {
    padding: 20px;
}

.fim {
    background-color: #edf2f9;
    padding: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
}


.fim ul {
    list-style-type: none; /* Define o tipo de marcador como ponto preto */
    padding-left: 0; /* Remove o espaçamento padrão do marcador */
    margin: 0;
}

.fim li {
    margin: 10px 0; /* Adiciona um espaçamento vertical entre os itens da lista */
   
}